.placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-neutral-200);
  border-radius: var(--radius-md);
  color: var(--color-neutral-400);
}

.sm {
  width: 80px;
  height: 112px;
}

.md {
  width: 140px;
  height: 196px;
}

.lg {
  width: 240px;
  height: 336px;
}

.icon {
  width: 40%;
  height: 40%;
}
